/* NOTION BLOCKS */
.notion_p {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin: 2.5px !important;
  margin-top: 2.5px !important;
  margin-bottom: 2.5px !important;
  padding: 2.5px !important;
  border-radius: 2.5px;
  transition: 500ms, 500ms ease-in-out;
  text-align: left !important;
  text-wrap: wrap !important;
  line-break: normal !important;
  word-wrap: break-word;
  height: auto !important;
  overflow: auto !important;
}

.notion_p:focus {
  outline: none !important;
  border: 0px;
  box-shadow: none;
}

.notion_titulo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center !important;
  margin: 2.5px !important;
  margin-top: 2.5px !important;
  margin-bottom: 2.5px !important;
  padding: 2.5px !important;
  border-radius: 2.5px;
  transition: 500ms, 500ms ease-in-out;
  font-weight: bolder;
  text-align: center !important;
  text-wrap: wrap !important;
}

.notion_titulo:focus {
  outline: none !important;
  border: 0px;
  box-shadow: none;
  background-color: rgb(133, 193, 233, 0.3);
}

.notion_block {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 2.5px !important;
  margin-top: 2.5px !important;
  margin-bottom: 2.5px !important;
  padding: 15px !important;
  border-radius: 2.5px;
  white-space: nowrap;
  transition: 500ms, 500ms ease-in-out;
  font-weight: bold;
  text-align: left !important;
  text-wrap: wrap !important;
  line-break: normal !important;
  word-wrap: break-word;
  overflow: auto !important;
  height: auto !important;
  align-self: center;
  background-color: #e5e8e8;
}

.notion_canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: #e5e8e8;
  border-radius: 5;
  width: 30vw;
  height: 30vh;
  opacity: 0.9;
  transition: 500ms, 500ms ease-in-out;
}

.notion_canvas:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  background-color: white;
  border-radius: 5;
  width: 35vw;
  height: 35vh;
  opacity: 1;
  transition: 500ms, 500ms ease-in-out;
}

.document {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 2.5px !important;
  margin-top: 2.5px !important;
  margin-bottom: 2.5px !important;
  padding: 2.5px !important;
}

@media print {
  .notion_p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin: 2.5px !important;
    margin-top: 2.5px !important;
    margin-bottom: 2.5px !important;
    padding: 2.5px !important;
    border-radius: 2.5px;
    transition: 500ms, 500ms ease-in-out;
    text-align: left !important;
    text-wrap: wrap !important;
    line-break: normal !important;
    word-wrap: break-word;
    height: auto !important;
    overflow: auto !important;
  }

  .notion_titulo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center !important;
    margin: 5px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    padding: 2.5px !important;
    border-radius: 2.5px;
    transition: 500ms, 500ms ease-in-out;
    font-weight: bolder;
    text-align: center !important;
    text-wrap: wrap !important;
  }

  .notion_block {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 2.5px !important;
    margin-top: 2.5px !important;
    margin-bottom: 2.5px !important;
    padding: 15px !important;
    border-radius: 2.5px;
    white-space: nowrap;
    transition: 500ms, 500ms ease-in-out;
    font-weight: bold;
    text-align: left !important;
    text-wrap: wrap !important;
    line-break: normal !important;
    word-wrap: break-word;
    overflow: auto !important;
    height: auto !important;
    align-self: center;
    background-color: #e5e8e8;
  }

  .document {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 2.5px !important;
    margin-top: 2.5px !important;
    margin-bottom: 2.5px !important;
    padding: 2.5px !important;
  }

  .notion_canvas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: #e5e8e8;
    border-radius: 5;
    opacity: 0.9;
    transition: 500ms, 500ms ease-in-out;
  }

  .notion_img_button {
    display: none;
  }

}