/* NOTION BLOCKS */
.notion_p {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 2.5px !important;
  margin-top: 2.5px !important;
  margin-bottom: 2.5px !important;
  padding: 2.5px !important;
  border-radius: 2.5px;
  white-space: nowrap;
  transition: 500ms, 500ms ease-in-out;
}

.notion_p:hover {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 2.5px !important;
  margin-top: 2.5px !important;
  margin-bottom: 2.5px !important;
  padding: 2.5px !important;
  border-radius: 2.5px;
  transition: 500ms, 500ms ease-in-out;
}

.notion_p:focus {
  outline: none !important;
  border: 0px;
  box-shadow: none;
  background-color: rgb(133, 193, 233, 0.3);
}

.notion_titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center !important;
  margin: 2.5px !important;
  margin-top: 2.5px !important;
  margin-bottom: 2.5px !important;
  padding: 2.5px !important;
  border-radius: 2.5px;
  white-space: nowrap;
  transition: 500ms, 500ms ease-in-out;
  font-weight: bolder;
}

.notion_titulo:focus {
  outline: none !important;
  border: 0px;
  box-shadow: none;
  background-color: rgb(133, 193, 233, 0.3);
}

.document {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 2.5px !important;
  margin-top: 2.5px !important;
  margin-bottom: 2.5px !important;
  padding: 2.5px !important;
}